/* ==|======================
   Layout/ Header
   ========================= */


.logo-wrapper {
    float: left;
    margin-right: 50px;
    margin-top: 20px;
    text-align: center;
    .logo {
        background: url("../../src/images/logotipo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: inline-block;
        height: 50px;
        width: 230px;
        @include image-replacement();
    }
}/* logotipo */


