/* ==|======================
   Module/ Brearcrumb
   ========================= */

.bread-crumb {
    display: block;
    width: 100%;
    padding: 15px 0 15px 0px;
    height: 50px;
    // margin-bottom: 10px;
    // border-bottom: 1px #ebebeb solid;
    li {
        display: inline-block;
        vertical-align: top;
        font-family: Arial, Helvetica, sans-serif;
        font-size: em(10);
        padding: 5px 10px 0;
        &:first-child{
            padding: 0;
            &:before { content: ''; display: none; }
        }
        &:first-child a {
           @include image-replacement();
            display: block;
            background: #ccc;
            width: 20px;
            height: 20px;
            display: block;
            background: #ccc;
            width: 20px;
            height: 20px;
            float: left;
            &:before { content: ''; }
        }
        &:before {
            display: inline-block;
            content: '>';
            color: #b7b7b7;
            margin-right: 10px;
        }
        &.last {
            a {
                color: $cinza;
            }
        }
    }
    a {
        color: #b7b7b7;
        text-decoration: none;
        text-transform: uppercase;
    }
}
